body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

input[type="text"] {
    width: 200px;
    height: 35px;
    padding: 5px;
    border-width: 1px;
    border-radius: 25px;
}

nav {
    margin-top: 20px;
    padding-top: 5px;
}

.button-container {
    margin: 20px;
    padding: 5px;
}

.button-container-btns {
    margin: 10px;
    padding: 5px;
}

.crud-view-container {
    margin: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
}

li {
    font-size: small;
}

.dd-menu-size {
    width: 400px;
}

.card-type-button {
    opacity: 0;
    transition: opacity 0.2s;
}

.list-group-item:hover .card-type-button {
    opacity: 1;
}

.card-title-button {
    opacity: 0;
    transition: opacity 0.2s;
}

.card:hover .card-title-button {
    opacity: 1;
}

p {
    font-size: medium;
    padding: 5px;
}
